# Directories
build/
.vscode/
cmake-build-debug/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.0-rc2/CMakeCCompiler.cmake
build/CMakeFiles/3.28.0-rc2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.0-rc2/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.0-rc2/CMakeSystem.cmake
build/CMakeFiles/Discrete_Math.dir/build.make
build/CMakeFiles/Discrete_Math.dir/compiler_depend.make
build/CMakeFiles/Discrete_Math.dir/DependInfo.cmake
build/CMakeFiles/Discrete_Math.dir/flags.make
build/CMakeFiles/Discrete_Math.dir/linkLibs.rsp
build/CMakeFiles/Relation.dir/build.make
build/CMakeFiles/Relation.dir/compiler_depend.make
build/CMakeFiles/Relation.dir/DependInfo.cmake
build/CMakeFiles/Relation.dir/flags.make
build/CMakeFiles/Relation.dir/link.txt
build/CMakeFiles/Relation.dir/progress.make
build/CMakeFiles/SetFactor.dir/build.make
build/CMakeFiles/SetFactor.dir/compiler_depend.make
build/CMakeFiles/SetFactor.dir/DependInfo.cmake
build/CMakeFiles/SetFactor.dir/flags.make
build/CMakeFiles/SetFactor.dir/link.txt
build/CMakeFiles/SetFactor.dir/progress.make
build/CMakeFiles/TransitivityClosureExperiment.dir/build.make
build/CMakeFiles/TransitivityClosureExperiment.dir/compiler_depend.make
build/CMakeFiles/TransitivityClosureExperiment.dir/DependInfo.cmake
build/CMakeFiles/TransitivityClosureExperiment.dir/flags.make
build/CMakeFiles/TransitivityClosureExperiment.dir/link.txt
build/CMakeFiles/TransitivityClosureExperiment.dir/progress.make
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.0-rc2/CMakeCCompiler.cmake
build/CMakeFiles/3.28.0-rc2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.0-rc2/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.0-rc2/CMakeSystem.cmake
build/CMakeFiles/Discrete_Math.dir/build.make
build/CMakeFiles/Discrete_Math.dir/compiler_depend.make
build/CMakeFiles/Discrete_Math.dir/DependInfo.cmake
build/CMakeFiles/Discrete_Math.dir/flags.make
build/CMakeFiles/Discrete_Math.dir/linkLibs.rsp
build/CMakeFiles/Relation.dir/build.make
build/CMakeFiles/Relation.dir/compiler_depend.make
build/CMakeFiles/Relation.dir/DependInfo.cmake
build/CMakeFiles/Relation.dir/flags.make
build/CMakeFiles/Relation.dir/link.txt
build/CMakeFiles/Relation.dir/progress.make
build/CMakeFiles/SetFactor.dir/build.make
build/CMakeFiles/SetFactor.dir/compiler_depend.make
build/CMakeFiles/SetFactor.dir/DependInfo.cmake
build/CMakeFiles/SetFactor.dir/flags.make
build/CMakeFiles/SetFactor.dir/link.txt
build/CMakeFiles/SetFactor.dir/progress.make
build/CMakeFiles/TransitivityClosureExperiment.dir/build.make
build/CMakeFiles/TransitivityClosureExperiment.dir/compiler_depend.make
build/CMakeFiles/TransitivityClosureExperiment.dir/DependInfo.cmake
build/CMakeFiles/TransitivityClosureExperiment.dir/flags.make
build/CMakeFiles/TransitivityClosureExperiment.dir/link.txt
build/CMakeFiles/TransitivityClosureExperiment.dir/progress.make
